html,
body {
  background: #000;
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #131515;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff200;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6f701b;
}
